/* GENERAL RULES -------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-size: 20px;
    color: #fff;
}

/* HEADER RULES -------------------- */
header {
    text-align: center;
    padding: 20px 0;
}

header button {
    padding: 5px 10px;
    margin: 10px 30px;
    font-size: 1rem;
    border: 0;
    border-radius: 20px;
}

header button:hover {
    background-color: cornflowerblue;
    color: #fff;
    cursor: pointer;
}
/* MAIN RULES -------------------- */
#minefield {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
/* squares based on difficulty */
.square.easy {
    padding-top: calc(100% / 10 - 20px);
    width: calc(100% / 10 - 10px);
    margin: 5px;
    border: 5px solid #cecece;
}

.square.medium {
    padding-top: calc(100% / 9 - 20px);
    width: calc(100% / 9 - 10px);
    margin: 5px;
    border: 5px solid #cecece;
}

.square.hard {
    padding-top: calc(100% / 7 - 20px);
    width: calc(100% / 7 - 10px);
    margin: 5px;
    border: 5px solid #cecece;
}

/* on click reaction of squares */
.square.active {
    background-color: #fff;
}